* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* 字体无法选中 */
    user-select: none;
}

body {
    width: 100%;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    /* background-color: #365174; */
    color: #a0a5a8;
    font-family: "华文楷体";
    transition: background-image 1s ease;
    background-image: url(../images/banner1.png);
    background-repeat: no-repeat;
    background-size: 100% 125%;
}

.login {
    position: relative;
    top: 60px;
    /* left: 250px; */
    width: 1000px;
    min-width: 1000px;
    min-height: 600px;
    height: 600px;
    padding: 25px;
    background-color: #ecf0f3;
    /* box-shadow: 10px 10px 10px #d1d9e6, -10px -10px 10px #f9f9f9; */
    /* box-shadow: 10px 10px 10px lightgrey , -10px -10px 10px darkgrey; */
    border-radius: 12px;
    overflow: hidden;
}

/* 设置响应式 */
@media (max-width: 1200px) {
    .login {
        transform: scale(0.7);
    }
}

@media (max-width: 1000px) {
    .login {
        transform: scale(0.6);
    }
}

@media (max-width: 800px) {
    .login {
        transform: scale(0.5);
    }
}

@media (max-width: 600px) {
    .login {
        transform: scale(0.4);
    }
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 600px;
    height: 100%;
    padding: 25px;
    background-color: #ecf0f3;
    background-color: #fff;
    transition: 1.25s;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.iconfont {
    margin: 0 5px;
    /* border: rgba(0, 0, 0, 0.5) 2px solid; */
    border-radius: 50%;
    font-size: 25px;
    padding: 3px;
    /* opacity: 0.7; */
    transition: 0.1s;
}
#switch-c2 .icon-xitonganquan{
    position: relative;
    top: 20px;
}
.iconfont:hover {
    /* opacity: 1; */
    transition: 0.15s;
    cursor: pointer;
}

/* .form_input {
    width: 350px;
    height: 40px;
    margin: 4px 0;
    padding-left: 25px;
    font-size: 13px;
    letter-spacing: 0.15px;
    border: none;
    outline: none;
    background-color: #ecf0f3;
    transition: 0.25s ease;
    border-radius: 8px;
    box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9;
} */

/* .form_input:focus {
    box-shadow: inset 4px 4px 4px #d1d9e6, inset -4px -4px 4px #f9f9f9;
} */

.form_span {
    margin-top: 30px;
    margin-bottom: 12px;
}

.form_link {
    color: #181818;
    font-size: 15px;
    margin-top: 25px;
    border-bottom: 1px solid #a0a5a8;
    line-height: 2;
}

.title {
    font-size: 34px;
    font-weight: 700;
    line-height: 3;
    color: #181818;
    letter-spacing: 10px;
}

.description {
    font-size: 14px;
    letter-spacing: 0.25px;
    text-align: center;
    line-height: 1.6;
}

.button {
    width: 180px;
    height: 50px;
    border-radius: 25px;
    margin-top: 50px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1.15px;
    background-color: #153968;
    color: #f9f9f9;
    box-shadow: 8px 8px 16px #d1d9e6, -8px -8px 16px #f9f9f9;
    border: none;
    outline: none;
}

.loginUp {
    z-index: 100;
    left: calc(100% - 600px);
}

.loginIn {
    left: calc(100% - 600px);
    z-index: 0;
}

.switch {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 400px;
    padding: 50px;
    z-index: 200;
    transition: 1.25s;
    background-color: #ecf0f3;
    overflow: hidden;
    box-shadow: 4px 4px 10px #d1d9e6, -4px -4px 10px #d1d9e6;
}

.switch_circle {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: #ecf0f3;
    box-shadow: inset 8px 8px 12px #b8bec7, inset -8px -8px 12px #fff;
    bottom: -60%;
    left: -60%;
    transition: 1.25s;
}

.switch_circle-t {
    top: -30%;
    left: 60%;
    width: 300px;
    height: 300px;
}

.switch_box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 400px;
    padding: 50px 55px;
    transition: 1.25s;
}

.switch_box .icon-xitonganquan{
    font-size: 120px !important;
    color: #0f3567;
}

.switch_box .switch_description{
    color: #365174;
    font-weight: 500;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    bottom: 7px;
    font-family: "Lucida Handwriting", "Comic Sans MS", cursive;
}
.switch_box .switch_button{
    position: relative;
    bottom: 20px;
}
#switch-c2 .switch_button{
    bottom: 40px;
}

.switch_button {
    cursor: pointer;
}

.switch_button:hover,
.submit:hover {
    box-shadow: 6px 6px 10px #d1d9e6, -6px -6px 10px #f9f9f9;
    transform: scale(0.985);
    transition: 0.25s;
}

.switch_button:active,
.switch_button:focus {
    box-shadow: 2px 2px 6px #d1d9e6, -2px -2px 6px #f9f9f9;
    transform: scale(0.97);
    transition: 0.25s;
}
.switch_title{
    color: #365174;
    font-size: 40px;
}
.is-txr {
    left: calc(100% - 400px);
    transition: 1.25s;
    transform-origin: left;
}

.is-txl {
    left: 0;
    transition: 1.25s;
    transform-origin: right;
}

.is-z {
    z-index: 200;
    transition: 1.25s;
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: 1.25s;
}

.is-gx {
    animation: is-gx 1.25s;
}

@keyframes is-gx {
    0%,
    10%,
    100% {
        width: 400px;
    }

    30%,
    50% {
        width: 500px;
    }
}

.loginBigBox{
    position: relative;
    width: 200px;
    height: 200px;
}

.login_box input {
	/* 清除input框自带的边框和轮廓 */
	outline: none;
	border: none;
	width: 100%;
	padding: 10px 0;
	margin-bottom: 30px;
	color: #365174;
	font-size: 16px;
	border-bottom: 1px solid #9e9e9e;
	/* 背景颜色为透明色 */
	background-color: transparent;
    position: relative;
    top: 10px;
}
.login_box label{
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	color: #365174;
    font-size: 20px ;
	/* 这个属性的默认值是auto 默认是这个元素可以被点击 但是如果我们写了none 就是这个元素不能被点击 , 就好像它可见但是不能用 可望而不可即 */
	/* 这个就是两者的区别 */
	pointer-events: none;
	/* 加个过渡 */
	transition: all 0.5s;
}
.login_box.p label{
    position: relative;
    top: -60px;
}

/* :focus 选择器是当input获得焦点是触发的样式 + 是相邻兄弟选择器 去找与input相邻的兄弟label */
/* :valid 选择器是判断input框的内容是否合法,如果合法会执行下面的属性代码,不合法就不会执行,我们刚开始写布局的时候给input框写了required 我们删掉看对比 当没有required的话input框的值就会被认为一直合法,所以一直都是下方的样式 ,但是密码不会,密码框内的值为空,那么这句话局不合法,required不能为空 当我们给密码框写点东西的时候才会执行以下代码*/
.login_box input:focus + label,
.login_box input:valid + label {
	top: -15px;
    right: 10px;
	color: #52819d;
	font-size: 15px;
}

.login_box.p input:focus + label,
.login_box.p input:valid + label{
    top: -75px;
}
.loginGif{
    position: relative;
    top: 21px;
}
.loginPic{
    position: relative;
    bottom: 22px;
}
.loginGif:hover{
    cursor: pointer;
}
.loginPic:hover{
    cursor: pointer;
}
.loginPic.a,.loginGif.a{
    opacity: 0;
    visibility: hidden;
}
